@model BlogPostDto
@{
    ViewData["Title"] = "Min Blog";
}

<h1 class="text-center">Min Blog</h1>

<form asp-action="AddPost" method="post" class="mb-4">
    <input type="text" asp-for="Title" placeholder="Title"/>
    <textarea name="Content" class="form-control mb-2" placeholder="Skriv et nyt blogindlæg..." required asp-for="Content"></textarea>
    <button type="submit" class="btn btn-primary">Tilføj</button>
</form>

@foreach (var post in ViewBag.Posts)
{
    <div class="form-control">
        <h2>@post.Title</h2>
        <h4>af @post.Author</h4>
        <p>@post.Content</p>
    </div>
}

